{% extends "base.j2" %}




{% block content %}

    <h5 style="margin-bottom: 16px">Logfile</h5>
     <hr/>
          {{ logfiletext }}
     <hr/>

{% endblock %}


  {% if show_activate_now %}
  <button id="activate" class="waves-effect waves-light btn">Activate Now</button>
  {% endif %}

    with open(LOG_FILE_PATH, 'r') as logfile:
        logs = logfile.read().split('\n')
    return "<br>".join(reversed(logs))
