{% extends "base.j2" %}
{% block content %}

<h5 style="margin-bottom: 16px">Google maps</h5>


<div class="mapouter">
<div class="gmap_canvas">
<iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=stockholm&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
</iframe>

<hr/>

gmaps.configure(api_key='Your api key here')

<br><br>
# Add a table in db and reed it from there <br>
# Under Settings you will be able to add the coordinates. <br>
# And Google API key <br>
# <br><br>

feeder_coordinates = (40.75, -74.00)
gmaps.figure(center=feeder_coordinates, zoom_level=12)


{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/schedule.js') }}"></script>
{% endblock %}
