{% extends "base.j2" %}
{% block content %}

    <h4>Settings</h4><br>


<form action="/setting" method="post">
<h5>Add a new user</h5><br>
    <div class="row" style="margin-top: 12px">
        <div class="input-field col s12 m6">
            <input id="new_user" name="new_user" type="text">
            <label for="new_user">New Username</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <input id="new_password" name="new_password" type="password">
            <label for="new_password">New Password</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <input id="email" name="email" type="text">
            <label for="email">New e-mail</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 m6">
            <input type="submit" class="waves-effect waves-light btn" style="width: 100%">
        </div>
    </div>
</form>


</hr>


<form action="/setting" method="post">
<h5>Add parameters for the map</h5><br>

  <div class="row">
      <div class="input-field col s12 m6">
          <input id="api_key" name="api_key" type="text">
          <label for="api_key">Google api key</label>
      </div>
    </div>

    <div class="row" style="margin-top: 12px">
        <div class="input-field col s12 m6">
            <input id="x_cord" name="x_cord" type="text">
            <label for="x_cord">X coordinates</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 m6">
            <input id="y_cord" name="y_cord" type="text">
            <label for="y_cord">Y coordinates</label>
        </div>
    </div>



    <div class="row">
        <div class="input-field col s12 m6">
            <input type="submit" class="waves-effect waves-light btn" style="width: 100%">
        </div>
    </div>
</form>





<hr/>
<h5 style="margin-bottom: 16px">Google maps settings</h5>
<table class="responsive-table striped" id="maps">
</table>
<p><a id="add-map">Add Google map...</a></p>




{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/maps.js') }}"></script>
{% endblock %}
