{% extends "base.j2" %}




{% block content %}

    <h5 style="margin-bottom: 16px">Webcam</h5>

    <br>
    Two alternatives.<br>
    Try to include motion server to get it to record and save images.<br>
    Or add images directly from the camera <br>

    <hr/>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/schedule.js') }}"></script>
{% endblock %}
